scene_renderer:
  ros__parameters:
    scene_ply_path: "src/data/ConferenceHall.ply"
    image_width: 1280
    image_height: 720
    horizontal_fov_deg: 70.0

ply_to_occupancy:
  ros__parameters:
    ply_path: "src/data/ConferenceHall.ply"
    resolution: 0.1
    min_points_per_cell: 5
    output_prefix: 'maps/conference'